{{#layout}}
	<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">La liga</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/temporada">Temporadas</a></li>
            {{#admin}}
				<li><a href="/logout">Logout</a></li>
			{{/admin}}
			{{^admin}}
				<li><a href="/login">login</a></li>
			{{/admin}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase">
	   
	    <h1>El jugador {{nombre}} ha sido guardada correctamente para el equipo {{equipo.nombre}}</h1>
	    {{#admin}}
	    <a href="/jugador/nuevo_form/{{equipo.id}}">Agregar otro jugador a la temporada {{equipo.nombre}}</a>
		{{/admin}}
       

    </div><!-- /.container -->
{{/layout}}